@page "/BarTest"

<h3 class="text-center mt-4">Weekly Gross Value</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <ApexChart TItem="Order"
                               Title="Weekly Sales Chart">
                        <ApexPointSeries TItem="Order"
                                         Items="Orders"
                                         Name="Gross Value"
                                         XValue="@(e => e.Day)"
                                         YAggregate="@(e => e.Sum(e => e.GrossValue))"
                                         SeriesType="SeriesType.Bar" />

                    </ApexChart>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Order> Orders { get; set; }

    protected override void OnInitialized()
    {
        Orders = new List<Order>
        {
            new Order { Day = "Monday", GrossValue = 100 },
            new Order { Day = "Tuesday", GrossValue = 65 },
            new Order { Day = "Wednesday", GrossValue = 75 },
            new Order { Day = "Thursday", GrossValue = 22 },
            new Order { Day = "Friday", GrossValue = 7 },
            new Order { Day = "Saturday", GrossValue = 54 },
            new Order { Day = "Sunday", GrossValue = 11 }
        };
    }

    public class Order
    {
        public string Day { get; set; }
        public decimal GrossValue { get; set; }
    }
}
