@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://thingsboard.io/smart-energy/#:~:text=IoT%20energy%20monitoring%20system%20works,insights%20into%20energy%20consumption%20patterns." target="_blank">Help</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


